@import "_variables.sass"
@import "_mixins.scss"


    

#navBar
    z-index: 100
    position: fixed
    top: 145px
    left: 38px
    background-color: transparent
    span
        font-weight: bold
        //margin-left: -10px
    li
        list-style: none
    a 
        text-decoration-line: none
        padding: 1px 0
  
    a:visited
        color: inherit
        
    a:hover
        color: $highlight


        
    


    
.nav1
    color: $lightblue
    @include anim(1s)
    .active
        color: black
    span
        color: black
        @include anim(1s)
    .st1
        stroke: $lightblue
        @include anim(1s)
    
    
    
.nav2
    color: black
    @include anim(1s)
    .active
        color: $grey
        transition: background-color 3s
    span
        color: $grey
        @include anim(1s)
    .st1
        stroke: black 
        @include anim(1s)

 
    
.nav3
    color: $brown
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: $sdpink
        @include anim(2s)
    .st1
        stroke: $brown 
        @include anim(2s)
            
.nav4
    color: $darkgrey
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: $snap
        @include anim(2s)
    .st1
        stroke: $darkgrey
        @include anim(2s)
            
.nav5
    color: $darkgrey
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: white
        @include anim(2s)
    .st1
        stroke: $darkgrey
        @include anim(2s)
            
.nav6
    color: yellow
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: black
        @include anim(2s)
    .st1
        stroke: yellow
        @include anim(2s)
            
            
.nav7
    color: red
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: #F3F3F3
        @include anim(2s)
    .st1
        stroke: red
        @include anim(2s)
    
            
.nav8
    color: white
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: red
        @include anim(2s)
    .st1
        stroke: white
        @include anim(2s)
            
.nav9
    color: white
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: purple
        @include anim(2s)
    .st1
        stroke: white
        @include anim(2s)
            

.nav10
    color: white
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: #6AA5C9
        @include anim(2s)
    .st1
        stroke: white
        @include anim(2s)
            
.nav11
    color: $kiboko
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: white
        @include anim(2s)
    .st1
        stroke: $kiboko
        @include anim(2s)
            
            
.nav12
    color: $darkgrey
    @include anim(2s)
    .active
        color: $sdpink
        transition: background-color 3s
    span
        color: yellow
        @include anim(2s)
    .st1
        stroke: $darkgrey
        @include anim(2s)
    
    
.logo
    width: 36%
    font-size: 13pt
    font-weight: 700
    letter-spacing: 1px
    color: inherit
    .st0
      fill: currentColor    


.sidenav
    position: fixed
    z-index: 1
    top: 37%
    left: 70px
    font-size: 8pt

    

.dropdown-btn 
    display: block
    border: none
    width: 100%
    text-align: left
    cursor: hand
    outline: none
    background-color: currentColor
    padding: 2px 12px   

 



.sidenav a
    padding: 3px 0 0 14px
    color: inherit
    font-weight: normal
    display: block
        
//.sidenav a:hover, .dropdown-btn:hover 
//     color: $highlight
//
//.sidenav a:active, .dropdown-btn:active
//     color: yellow
 
 

//_______________________// 



      

.arrow
    width: 2%
    position: fixed
    top: 92%
    left: 49%
    @media screen and (max-width: 700px) 
     width: 4%
     top: 94%
    
    
.emailP
    margin: 0
    position: fixed
    top: 82.6%
    left: 57px
    font-size: 14pt
    
    
.email
   background-color: transparent
   padding: 5px 25px
   font-size: 15pt
   border: solid 
   border-width: 5px
   border-radius: 230px
   position: fixed
   top: 86%
   left: 50px
   

   


.footy
   color: inherit 
   position: fixed
   font-size: 8pt
   top: 92%
   left: 57px
   right: 78px
   margin-right: 20%

   @media screen and (max-width: 900px) 
    font-size: 6pt
   @media screen and (max-width: 700px) 
    display: none
    

.social
    margin-top: 15px
    margin-bottom: 0
    display: flex
    position: fixed
    top: 85.4%
    left: 200px
    li
      margin: 0 8px

 
.fa 
  padding: 3px 1px 3px 0
  font-size: 100pt
  width: 25px
  font-size: 20pt


 
.fa-instagram 
  color: inherit
.fa-linkedin
  color: inherit
.fa-dribbble
  color: inherit