#navBar {
  z-index: 100;
  position: fixed;
  top: 145px;
  left: 38px;
  background-color: transparent; }
  #navBar li {
    list-style: none; }
  #navBar a {
    -webkit-text-decoration-line: none;
    text-decoration-line: none; }

.nav1 {
  color: #00EBFF;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  .nav1 .active {
    color: black;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
    transition: background-color 3s; }
  .nav1 span {
    color: black;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  .nav1 .st1 {
    stroke: #00EBFF;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }

.nav2 {
  color: black;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  .nav2 .active {
    color: #E6E7E8;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
    transition: background-color 3s; }
  .nav2 span {
    color: #E6E7E8;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  .nav2 .st1 {
    stroke: black;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }

.nav3 {
  color: #352C28;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
  .nav3 .active {
    color: #FFBACC;
    -webkit-transition: background-color 3s;
    -o-transition: background-color 3s;
    transition: background-color 3s; }
  .nav3 span {
    color: #FFBACC;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  .nav3 .st1 {
    stroke: #352C28;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }

.logo {
  width: 36%;
  font-size: 13pt;
  font-weight: 700;
  letter-spacing: 1px;
  color: inherit; }
  .logo .st0 {
    fill: currentColor; }

.sidenav {
  position: fixed;
  z-index: 1;
  top: 43%;
  left: 56px; }

.dropdown-btn {
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: hand;
  outline: none;
  background-color: currentColor;
  padding: 2px 0px 2px 12px; }

a {
  font-size: 12px; }

.sidenav a {
  padding: 3px 0 0 14px;
  color: inherit;
  font-weight: normal;
  display: block; }

.sidenav a:hover, .dropdown-btn:hover {
  color: #FF00E2; }

.sidenav a:active, .dropdown-btn:active {
  color: yellow; }

.arrow {
  width: 2%;
  position: fixed;
  top: 92%;
  left: 50%; }

.footy {
  color: inherit;
  position: fixed;
  font-size: 10pt;
  top: 92%;
  left: 78px;
  right: 78px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 86%;
  left: 30px; }
  .social li {
    margin: 0 8px; }

.fa {
  padding: 3px 1px 3px 0;
  font-size: 30px;
  width: 25px; }

.fa-caret-down {
  float: right;
  margin-left: 10px;
  font-size: 12px; }

.fa-instagram {
  color: inherit; }

.fa-linkedin {
  color: inherit; }

.fa-dribbble {
  color: inherit; }
