/* line 6, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
body {
  font-family: "Roboto", sans-serif;
  cursor: hand;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  /* line 14, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body li {
    list-style: none; }
  /* line 16, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h1 {
    font-size: 25pt;
    margin: 0;
    font-weight: bold;
    margin-right: 40%; }
  /* line 21, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h3 {
    margin: 0;
    font-weight: bold;
    font-size: 15pt; }
  /* line 26, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body p {
    margin: 10px 0;
    margin-right: 50%;
    font-size: 12pt;
    font-stretch: extra-condensed;
    line-height: 1.3; }
  /* line 33, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body button {
    z-index: 100; }
  @media screen and (max-width: 700px) {
    /* line 37, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h1 {
      font-size: 20pt;
      margin: 0;
      font-weight: bold;
      margin-right: 40%; }
    /* line 42, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h3 {
      margin: 0;
      font-weight: bold;
      font-size: 12pt; }
    /* line 47, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body p {
      margin: 10px 0;
      margin-right: 50%;
      font-size: 10pt; } }

/* line 54, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

/* line 60, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto; }

/* line 67, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.learnMore {
  margin-top: 10px;
  background-color: transparent;
  padding: 15px 35px;
  border: solid;
  border-width: 3px; }

/* line 76, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
button:hover {
  color: #FF00E2;
  border-color: #FF00E2;
  transition-delay: 0.5s;
  transition: 0.5s; }

/* line 85, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#U_U {
  background-size: cover;
  height: 100vh;
  background-color: black; }
  /* line 90, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .copy {
    position: absolute;
    top: 140px;
    left: 300px;
    color: #00EBFF; }
  /* line 95, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U p {
    margin: 0; }
  /* line 98, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .smallstars {
    position: absolute;
    top: -20px;
    left: 5%;
    width: 90%; }
  /* line 104, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .bigstars {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%; }
  /* line 110, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .face {
    position: absolute;
    top: 30%;
    left: 42.3%;
    width: 15%; }

/* line 118, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DashyDriver {
  height: 100vh;
  background-size: cover;
  background-color: #E6E7E8;
  overflow: auto; }
  /* line 123, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver h1 {
    margin: 0; }
  /* line 125, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver p {
    margin: 0;
    margin-right: 50%; }
  /* line 128, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .copy {
    position: absolute;
    top: 900px;
    left: 270px;
    color: black; }
  /* line 134, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .car {
    position: relative;
    top: 300px;
    left: 100px; }
  @media screen and (max-width: 1000px) {
    /* line 144, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    #DashyDriver img {
      width: 80%;
      top: 400px;
      left: 200px; } }

/* line 150, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#SuperDuperPunch {
  height: 100vh;
  /*background: url("../img/sdp/background.gif"); */
  background: #FFBACC;
  background-size: cover;
  overflow: auto; }
  /* line 157, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch ul {
    padding: 0; }
  /* line 160, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .learnMore {
    margin-top: 15px; }
  /* line 162, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .copy {
    position: absolute;
    top: 1660px;
    left: 270px;
    color: #352C28; }
  /* line 167, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .sdp img {
    width: 70%;
    position: relative;
    margin-top: -140px;
    margin-left: 500px; }
  /* line 172, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch iframe {
    margin-top: 10px; }

/* line 185, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#LensStudio {
  height: 100vh;
  background-size: cover;
  background-color: #FFFB00;
  overflow: auto; }
  /* line 190, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 195, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio img {
    float: right;
    width: 60%;
    position: inherit;
    margin-top: 0;
    margin-right: 3%; }

/* line 204, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ZooKazam {
  height: 100vh;
  background-size: cover;
  background-color: white;
  overflow: auto; }
  /* line 209, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam ul {
    padding: 0; }
  /* line 211, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71;
    margin-right: 20%; }
  /* line 217, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.zoo {
    float: right;
    width: 25%;
    position: inherit;
    margin-top: -300px;
    margin-right: 10%; }
  /* line 223, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.awa {
    float: right;
    width: 25%;
    position: relative;
    top: 55px;
    left: 26%; }
  /* line 229, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam iframe {
    margin-top: 15px;
    margin-left: -5px;
    padding: 0; }

/* line 235, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#Kill2Birds {
  height: 100vh;
  background-size: cover;
  background-color: #F3F1F0;
  overflow: auto; }
  /* line 240, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Kill2Birds .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #25333E; }
  /* line 245, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Kill2Birds img {
    float: right;
    width: 40%;
    position: inherit;
    margin-top: 5%;
    margin-right: 6%; }

/* line 253, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#Processing {
  background: url(../img/processing.gif);
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 259, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #ff48ff; }
  /* line 265, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .lightwidget-widget {
    width: 75%;
    position: relative;
    top: 130px;
    left: 265px; }
  /* line 270, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing iframe {
    margin-top: 25px; }
  /* line 272, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .learnMore {
    margin-top: 20px; }

/* line 280, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DataViz {
  background-size: cover;
  background-color: #F3F3F3;
  height: 100vh;
  overflow: auto; }
  /* line 285, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #25333E; }
  /* line 290, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz img {
    float: right;
    width: 100%;
    position: inherit;
    margin-top: -450px;
    margin-right: 200px; }

/* line 303, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#CincoDeMayo {
  background: url("../img/cinco.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 308, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #CincoDeMayo .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: white; }

/* line 315, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ATTDigitalHome {
  background-color: #6AA5C9;
  height: 100vh;
  overflow: auto; }
  /* line 319, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome img {
    float: right;
    width: 57%;
    position: relative;
    top: 65px;
    left: 190px; }
  /* line 325, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: white; }

/* line 333, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KibokoCafe {
  background-color: white;
  height: 100vh;
  overflow: auto; }
  /* line 337, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe img {
    float: right;
    width: 30%;
    position: relative;
    top: -50px;
    right: 100px; }
  /* line 343, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #B6A277; }

/* line 351, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KillPills {
  background-color: #FFF200;
  height: 100vh;
  overflow: auto; }
  /* line 355, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 360, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills img {
    width: 75%; }
  /* line 362, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .kill {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style: none;
    flex-flow: wrap;
    margin: -30px;
    position: inherit;
    margin-top: 3%; }
  /* line 371, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .flex-item {
    margin: 0 -50px; }

/*# sourceMappingURL=styles.css.map */