/* line 6, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
body {
  font-family: "Roboto", sans-serif;
  cursor: hand;
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%; }
  /* line 14, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h1 {
    font-size: 25pt;
    margin: 0;
    font-weight: bold;
    margin-right: 40%; }
  /* line 19, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h3 {
    margin: 0;
    font-weight: bold;
    font-size: 15pt; }
  /* line 24, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body p {
    margin: 10px 0;
    margin-right: 60%; }
  @media screen and (max-width: 700px) {
    /* line 29, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h1 {
      font-size: 20pt;
      margin: 0;
      font-weight: bold;
      margin-right: 40%; }
    /* line 34, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h3 {
      margin: 0;
      font-weight: bold;
      font-size: 12pt; }
    /* line 39, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body p {
      margin: 10px 0;
      margin-right: 50%;
      font-size: 10pt; } }

/* line 46, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

/* line 52, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto; }

/* line 59, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.learnMore {
  margin-top: 10px;
  background-color: transparent;
  padding: 15px 35px;
  border: solid;
  border-width: 5px;
  border-radius: 50px; }

/* line 67, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
button:hover {
  color: #FF00E2;
  border-color: #FF00E2;
  transition-delay: 0.5s;
  transition: 0.5s; }

/* line 76, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#U_U {
  background-size: cover;
  height: 100vh;
  background-color: black; }
  /* line 81, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .copy {
    position: absolute;
    top: 140px;
    left: 300px;
    color: #00EBFF; }
  /* line 86, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U p {
    margin: 0; }
  /* line 89, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .smallstars {
    position: absolute;
    top: -20px;
    left: 5%;
    width: 90%; }
  /* line 95, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .bigstars {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%; }
  /* line 101, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .face {
    position: absolute;
    top: 30%;
    left: 42.3%;
    width: 15%; }

/* line 109, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DashyDriver {
  height: 100vh;
  background-size: cover;
  background-color: #E6E7E8;
  overflow: auto; }
  /* line 114, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver h1 {
    margin: 0; }
  /* line 116, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver p {
    margin: 0; }
  /* line 118, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .copy {
    position: absolute;
    top: 900px;
    left: 270px;
    color: black; }
  /* line 124, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver img {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 330px;
    left: 100px; }
  @media screen and (max-width: 1000px) {
    /* line 132, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    #DashyDriver img {
      width: 80%;
      top: 400px;
      left: 200px; } }

/* line 138, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#SuperDuperPunch {
  height: 100vh;
  background-size: cover;
  background-color: #FFBACC;
  overflow: auto; }
  /* line 143, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #352C28; }
  /* line 149, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .sdp {
    position: inherit;
    margin-top: -25%;
    margin-left: 33%; }

/* line 156, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#LensStudio {
  height: 100vh;
  background-size: cover;
  background-color: #FFFB00;
  overflow: auto; }
  /* line 161, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 166, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio img {
    float: right;
    width: 60%;
    position: inherit;
    margin-top: 0;
    margin-right: 3%; }

/* line 175, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ZooKazam {
  height: 100vh;
  background-size: cover;
  background-color: white;
  overflow: auto; }
  /* line 180, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 185, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.zoo {
    float: right;
    width: 30%;
    position: inherit;
    margin-top: -126px;
    margin-right: 10%; }
  /* line 191, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.awa {
    float: right;
    width: 30%;
    position: relative;
    top: 300px;
    left: 31%; }

/* line 199, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#Kill2Birds {
  height: 100vh;
  background-size: cover;
  background-color: #F3F1F0;
  overflow: auto; }
  /* line 204, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Kill2Birds .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #25333E; }
  /* line 209, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Kill2Birds img {
    float: right;
    width: 45%;
    position: inherit;
    margin-top: 5%;
    margin-right: 6%; }

/* line 217, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#Processing {
  background: url("../img/processing.gif") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 222, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: yellow; }

/* line 231, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DataViz {
  background-size: cover;
  background-color: #F3F3F3;
  height: 100vh;
  overflow: auto; }
  /* line 236, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #25333E; }
  /* line 241, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz img {
    float: right;
    width: 100%;
    position: inherit;
    margin-top: -450px;
    margin-right: 200px; }

/* line 254, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#CincoDeMayo {
  background: url("../img/cinco.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 259, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #CincoDeMayo .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: white; }

/* line 266, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ATTDigitalHome {
  background-color: #6AA5C9;
  height: 100vh;
  overflow: auto; }
  /* line 270, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome img {
    float: right;
    width: 57%;
    position: relative;
    top: 65px;
    left: 190px; }
  /* line 276, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: white; }

/* line 284, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KibokoCafe {
  background-color: white;
  height: 100vh;
  overflow: auto; }
  /* line 288, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe img {
    float: right;
    width: 30%;
    position: relative;
    top: -50px;
    right: 100px; }
  /* line 294, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #B6A277; }

/* line 302, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KillPills {
  background-color: #FFF200;
  height: 100vh;
  overflow: auto; }
  /* line 306, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 311, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills img {
    width: 75%; }
  /* line 313, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .kill {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style: none;
    flex-flow: wrap;
    margin: -30px;
    position: inherit;
    margin-top: 3%; }
  /* line 322, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .flex-item {
    margin: 0 -50px; }

/*# sourceMappingURL=styles.css.map */