@import "_variables.sass"
@import "_mixins.scss"



body
    font-family: "Roboto", sans-serif
    cursor: hand
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    
    li
        list-style: none
    h1
        font-size: 25pt
        margin: 0
        font-weight: bold
        margin-right: 40%
    h3
        margin: 0
        font-weight: bold
        font-size: 15pt
        
    p 
        margin: 10px 0
        margin-right: 50%
        font-size: 12pt
        font-stretch: extra-condensed
        line-height: 1.3
        
    button
        z-index: 100
        
    @media screen and (max-width: 700px)
        h1
            font-size: 20pt
            margin: 0
            font-weight: bold
            margin-right: 40%
        h3
            margin: 0
            font-weight: bold
            font-size: 12pt

        p 
            margin: 10px 0
            margin-right: 50%
            font-size: 10pt
        
        
    
.wrapper
    width: 100%
    max-width: 1100px
    margin: 0 auto
    
    
#scroll
  position: fixed
  width: 100%
  height: 100%
  overflow: auto


.learnMore
   margin-top: 10px
   background-color: transparent
   padding: 15px 35px
   border: solid
   border-width: 3px
   
   //border-radius: 50px

button:hover
  color: $highlight  
  border-color: $highlight
  @include anim(0.5s)





#U_U
    background-size: cover
    height: 100vh
    background-color: black 
    
    .copy
        position: absolute
        top: 140px
        left: 300px
        color: $lightblue
    p 
        margin: 0
    
    .smallstars
        position: absolute
        top: -20px
        left: 5%
        width: 90%

    .bigstars 
       position: absolute
       top: 10%
       left: 10%
       width: 80%

    .face
        position: absolute
        top: 30%
        left: 42.3%
        width: 15%
        
        

#DashyDriver
    height: 100vh
    background-size: cover
    background-color: $grey
    overflow: auto
    h1
        margin: 0
    p 
       margin: 0
       margin-right: 50%
    .copy
        position: absolute
        top: 900px
        left: 270px
        color: black
  
    .car 
        position: relative
        top: 300px
        left: 100px
        
           
            
      
        
    @media screen and (max-width: 1000px)
      img
        width: 80%
        top: 400px
        left: 200px
  
    
#SuperDuperPunch
    height: 100vh
    /*background: url("../img/sdp/background.gif");
    background: $sdpink
    background-size: cover
    overflow: auto

    ul
        padding: 0
    
    .learnMore
        margin-top: 15px
    .copy
        position: absolute
        top: 1660px
        left: 270px
        color: $brown
    .sdp img
        width: 70%
        position:  relative
        margin-top: -140px
        margin-left: 500px
    iframe
        margin-top: 10px
        
    
        
        
 
        


        
        
        
#LensStudio
    height: 100vh
    background-size: cover
    background-color: $snap
    overflow: auto
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $darkgrey 
    img
        float: right
        width: 60%
        position: inherit
        margin-top: 0
        margin-right: 3%
        
        
        
#ZooKazam
    height: 100vh
    background-size: cover
    background-color: white
    overflow: auto
    ul
        padding: 0
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $darkgrey
        margin-right: 20%
    img.zoo
        float: right
        width: 25%
        position: inherit
        margin-top: -300px
        margin-right: 10%
    img.awa
        float: right
        width: 25%
        position: relative
        top: 55px
        left: 26%
    iframe
        margin-top: 15px
        margin-left: -5px
        padding: 0
        
    
#Kill2Birds
    height: 100vh
    background-size: cover
    background-color: $k2bl
    overflow: auto
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $k2bd 
    img
        float: right
        width: 40%
        position: inherit
        margin-top: 5%
        margin-right: 6%
        
        
#Processing
    
    background: url(../img/processing.gif)
    background-size: cover
    height: 100vh
    overflow: auto  
    .copy
        position: relative
        top: 140px
        left: 270px
        color: #ff48ff
        
    .lightwidget-widget
        width: 75%
        position: relative
        top: 130px
        left: 265px
    iframe
        margin-top: 25px
    .learnMore
        margin-top: 20px
        


        
        
      
#DataViz
    background-size: cover
    background-color: #F3F3F3
    height:  100vh
    overflow: auto
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $k2bd
    img
      float: right
      width: 100%
      position: inherit
      margin-top: -450px 
      margin-right: 200px

        
        




#CincoDeMayo
    background: url("../img/cinco.jpg") no-repeat
    background-size: cover
    height: 100vh
    overflow: auto
    .copy
        position: relative
        top: 140px
        left: 270px
        color: white 
        
        
#ATTDigitalHome
    background-color: #6AA5C9
    height:  100vh
    overflow: auto
    img
        float: right
        width: 57%
        position: relative
        top: 65px
        left: 190px
    .copy
        position: relative
        top: 140px
        left: 270px
        color: white
        
        
        
#KibokoCafe
    background-color: white
    height:  100vh
    overflow: auto
    img
        float: right
        width: 30%
        position: relative
        top: -50px 
        right: 100px
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $kiboko
        
        
        
#KillPills
    background-color: $kill
    height:  100vh
    overflow: auto
    .copy
        position: relative
        top: 140px
        left: 270px
        color: $darkgrey
    img
        width: 75%
    .kill
        display: flex
        justify-content: flex-end
        float: right
        list-style: none
        flex-flow: wrap
        margin: -30px
        position: inherit
        margin-top: 3%
    .flex-item
        margin: 0 -50px


    
   
        

   


    
   








    
    
    






    
    

        
        
        
        
        


    
    





    

    
       
   
    

    

    


   
   
    


   

   
    

