/* line 6, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
body {
  font-family: "Roboto", sans-serif;
  cursor: hand;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  /* line 14, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body li {
    list-style: none; }
  /* line 16, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h1 {
    font-size: 25pt;
    margin: 0;
    font-weight: bold;
    margin-right: 40%; }
  /* line 21, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body h3 {
    margin: 0;
    font-weight: bold;
    font-size: 15pt; }
  /* line 26, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body p {
    margin: 10px 0;
    margin-right: 50%;
    font-size: 12pt;
    font-stretch: extra-condensed;
    line-height: 1.3; }
  /* line 33, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  body button {
    z-index: 100; }
  @media screen and (max-width: 700px) {
    /* line 37, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h1 {
      font-size: 20pt;
      margin: 0;
      font-weight: bold;
      margin-right: 40%; }
    /* line 42, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body h3 {
      margin: 0;
      font-weight: bold;
      font-size: 12pt; }
    /* line 47, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    body p {
      margin: 10px 0;
      margin-right: 50%;
      font-size: 10pt; } }

/* line 54, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

/* line 59, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.copy {
  position: relative;
  top: 140px;
  left: 270px; }

/* line 67, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
.learnMore {
  margin-top: 10px;
  background-color: transparent;
  padding: 15px 35px;
  border: solid;
  border-width: 7px;
  border-radius: 50px; }

/* line 75, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
button:hover {
  color: #FF00E2;
  border-color: #FF00E2;
  transition-delay: 0.5s;
  transition: 0.5s; }

/* line 85, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#U_U {
  background-size: cover;
  height: 100vh;
  background-color: black; }
  /* line 90, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .copy {
    color: #00EBFF; }
  /* line 92, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U p {
    margin: 0; }
  /* line 95, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .smallstars {
    position: absolute;
    top: -20px;
    left: 5%;
    width: 90%; }
  /* line 101, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .bigstars {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%; }
  /* line 107, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #U_U .face {
    position: absolute;
    top: 30%;
    left: 42.3%;
    width: 15%; }

/* line 115, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DashyDriver {
  height: 100vh;
  background-size: cover;
  background-color: #E6E7E8;
  overflow: auto; }
  /* line 120, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver h1 {
    margin: 0; }
  /* line 122, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver p {
    margin: 0;
    margin-right: 50%; }
  /* line 125, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .copy {
    position: absolute;
    top: 900px;
    left: 270px;
    color: black; }
  /* line 130, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .car {
    position: relative;
    top: 310px;
    left: 100px; }
  /* line 134, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DashyDriver .learnMore {
    margin-top: 15px;
    margin-left: -10px; }
  @media screen and (max-width: 1000px) {
    /* line 143, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    #DashyDriver img {
      width: 80%;
      top: 400px;
      left: 200px; } }

/* line 149, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#SuperDuperPunch {
  height: 100vh;
  /*background: url("../img/sdp/background.gif"); */
  background: #FFBACC;
  background-size: cover;
  overflow: hidden; }
  /* line 155, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch ul {
    padding: 0; }
  /* line 158, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch button {
    width: 22%; }
  /* line 163, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .learnMore {
    margin-top: 10px;
    font-size: 10pt; }
  /* line 166, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .copy {
    position: absolute;
    top: 1660px;
    left: 270px;
    color: #352C28; }
  /* line 171, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .sdp img {
    width: 70%;
    position: relative;
    margin-top: -140px;
    margin-left: 380px; }
  /* line 176, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #SuperDuperPunch .appleBadges {
    position: relative;
    margin-top: -70px;
    margin-left: 55%; }
    /* line 180, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    #SuperDuperPunch .appleBadges img {
      width: 80%; }

/* line 187, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#LensStudio {
  height: 100vh;
  background-size: cover;
  background-color: #FFFB00;
  overflow: hidden; }
  /* line 192, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio .copy {
    color: #6E6F71; }
  /* line 195, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #LensStudio img {
    float: right;
    width: 55%;
    position: inherit;
    margin-top: 60px;
    margin-right: 3%; }

/* line 204, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ZooKazam {
  height: 100vh;
  background-size: cover;
  background-color: white;
  overflow: auto; }
  /* line 209, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam ul {
    padding: 0;
    margin-top: 15px; }
    /* line 212, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
    #ZooKazam ul button {
      width: 20%;
      margin-right: 20px; }
  /* line 215, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam .copy {
    color: #6E6F71;
    margin-right: 20%; }
  /* line 219, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.zoo {
    float: right;
    width: 28%;
    position: inherit;
    margin-top: -230px;
    margin-right: 10%; }
  /* line 225, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ZooKazam img.awa {
    float: right;
    width: 25%;
    position: relative;
    top: 185px;
    left: 28%; }

/* line 237, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#Processing {
  background: url(../img/processing.gif);
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 243, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .copy {
    margin-right: 45%;
    color: yellow; }
  /* line 248, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing .lightwidget-widget {
    width: 75%;
    position: relative;
    top: 130px;
    left: 265px; }
  /* line 253, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #Processing iframe {
    margin-top: 30px; }

/* line 259, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#DataViz {
  background-size: cover;
  background-color: #F3F3F3;
  height: 100vh;
  overflow: hidden; }
  /* line 264, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz .copy {
    color: #25333E;
    margin-right: 10%; }
  /* line 268, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #DataViz img {
    float: right;
    width: 200%;
    position: inherit;
    margin-top: -700px;
    margin-right: -270px; }

/* line 277, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#UA {
  background: linear-gradient(-45deg, #44b8e5, #1d82da);
  background-size: cover;
  height: 100vh;
  overflow: hidden; }
  /* line 282, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #UA .copy {
    color: white; }
  /* line 285, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #UA img {
    float: right;
    width: 46%;
    position: inherit;
    margin-top: -80px;
    margin-right: 350px; }

/* line 295, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#CincoDeMayo {
  background: url("../img/cinco.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto; }
  /* line 300, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #CincoDeMayo .copy {
    margin-right: 30%;
    color: white; }

/* line 306, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#ATTDigitalHome {
  background-color: #6AA5C9;
  height: 100vh;
  overflow: auto; }
  /* line 310, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome img {
    float: right;
    width: 45%;
    position: relative;
    top: 140px;
    right: 50px; }
  /* line 317, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #ATTDigitalHome .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: white;
    margin-right: 35%; }

/* line 325, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KibokoCafe {
  background-color: white;
  height: 100vh;
  overflow: auto; }
  /* line 329, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe img {
    float: right;
    width: 30%;
    position: relative;
    top: -50px;
    right: 100px; }
  /* line 335, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KibokoCafe .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #B6A277; }

/* line 343, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
#KillPills {
  background-color: #FFF200;
  height: 100vh;
  overflow: auto; }
  /* line 347, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .copy {
    position: relative;
    top: 140px;
    left: 270px;
    color: #6E6F71; }
  /* line 352, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills img {
    width: 75%; }
  /* line 354, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .kill {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style: none;
    flex-flow: wrap;
    margin: -30px;
    position: inherit;
    margin-top: 3%; }
  /* line 363, /Users/rezaalavi/sites/ABS-Website2018/css/styles.sass */
  #KillPills .flex-item {
    margin: 0 -50px; }

/*# sourceMappingURL=styles.css.map */